html {
	width: 100%;
}

img {width: 100%;}


h1 {
	font-family: Ubuntu;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	color: #851018;
}

h2 {
	font-family: Ubuntu;
	font-size: 2em;
	text-align: center;
	color: #851018;
}

h3 {
	font-family: Ubuntu;
	font-size: 1.5em;
	line-height: 1.2;
	text-align: center;
	font-weight: normal;
	color: #4a1c00;
}

.white {
	color: white;
}

.h3bold {
	font-weight: bold;
}

a {
	text-decoration: none;
}

.contwidth {
	max-width: 960px;
	text-align: center;
	margin: auto;
}

.reg_btn {
	border-radius: 100px;
	background-image: linear-gradient(to bottom, #c10c1a, #850f18);
	line-height: 54px;
	padding: 0 50px;
	border: 0;
	margin: 14px 0;
	font-family: Ubuntu;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.4px;
	text-align: center;
	color: #ffffff;
}

/* top */

.top {
	background: url(../img/1_bgimg.jpg) no-repeat;
	background-color: #f3af42;
	background-size: cover;
	height: 680px;
	background-position: 50% 90%;
}

.logo {
	width: 128px;
	padding: 10px 2px;
	float: left;
}

.topbar {
	position: relative;
	height: 9%;
	background-color: rgba(255, 255, 255, 0.50);
}

.menu {
	display: inline-block;
	float: right;
}

.menu a {
	font-family: Ubuntu;
	font-size: 14px;
	color: #4a1c00;
}

ul.menu-points li {
	display: inline-block;
	padding: 10px 20px;
}


.call { 
	font-size: 0;
}

.phoneimg {
	width: 20px;
	padding: 0 10px 0 25px;
	display: inline-block;
	vertical-align: middle;
}

.phoneno {
	color: #851018;
	display: inline-block;
}

.callback_btn {
	line-height: 36px;
	padding: 0 20px;
	border-radius: 100px;
	border: 0;
	background-color: #f3af42;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.18);
	font-family: OpenSans;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	color: #4a1c00;
}

.title {
	margin: 26px auto 15px;
}

.subtitle3 {
	margin: 26px auto 15px;
}

/* advantages */

.advantages {
	margin: 40px 0 40px 0;
}

.adv-title {
	margin: 0 0 40px 0;
}

ul.aful li {
	display: inline-block;
	padding: 10px 20px;
}

.afli {
	width: 15%;
	vertical-align: top;
}

.afimg {
	width: 100px;
	padding: 0 0 20px 0;
	vertical-align: top;
}

.aftext {
	font-family: OpenSans;
	font-size: 14px;
	line-height: 16px;
	color: #4a1c00;
	text-align: left;
}

/* img 1 */

.img1 {
	background: url(../img/3_imgbg.jpg) no-repeat;
	background-color: #f3af42;
	background-size: cover;
	height: 680px;
	position: relative;
}

.img1txt{
	position: absolute;
	bottom: 0;
}

.h1left {
	text-align: left;
	margin: 20px 0 20px 0;
}

/* whywe */

.whywe {
	background: url(../img/4_imgbg.png) no-repeat;
	background-size: cover;
	height: 400px;
	position: relative;
	padding: 30px 0 30px 0;
}


ul.whyul li {
	display: inline-block;
	padding: 10px 20px;
	width: 20%;
	vertical-align: top;
}

.whysub {
	font-family: OpenSans;
	font-size: 20px;
	color: #4a1c00;
	width: 60%;
	margin: auto;
	padding: 20px 0 20px 0;
}

.whyimg {
	width: 160px;
	font-family: Ubuntu-Bold;
	font-size: 48px;
	color: #B70F1B;
	letter-spacing: -1.16px;
	text-align: center;
	line-height: 160px;
	margin: auto;
}

.wimg1 {
	background: url(../img/3_1.png) no-repeat;
	background-size: cover;
}

.wimg2 {
	background: url(../img/3_2.png) no-repeat;
	background-size: cover;
}

.wimg3 {
	background: url(../img/3_3.png) no-repeat;
	background-size: cover;
}

.wimg4 {
	background: url(../img/3_4.png) no-repeat;
	background-size: cover;
}

.whywetxt {
	font-family: Ubuntu;
	font-size: 18px;
	text-align: center;
	color: #4a1c00;
	padding: 20px 0 20px 0;
}

.whylogo {
	width: 114px;
	padding: 20px 0 20px 0;
}
/* howwe */
.howwe {
	padding: 30px 0 30px 0;
}

ul.howul li {
	display: inline-block;
	padding: 10px 20px;
	width: 20%;
	vertical-align: top;
}

.howli {
	position: relative;
} 

.howli::after {
	background: url(../img/4_arrow.svg) no-repeat;
	position: absolute;
	width: 120px;
	height: 3px;
	top: 50px;
	left: 100px;
	z-index: 2;
}

.howimg {
	width: 80px;
	margin: 10px auto;	
}

.howsub {
	font-family: Ubuntu;
	font-size: 20px;
	text-align: center;
	color: #851018;
	padding: 10px 0;
}

.howtxt {
	font-family: Ubuntu;
	font-size: 14px;
	color: #4a1c00;
	text-align: left;
}



/* img2 */
.img2 {
	background: url(../img/5_imgbg.jpg) no-repeat;
	background-color: #f3af42;
	background-size: cover;
	height: 600px;
	position: relative;
}

.img2txt{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

/* contacts */

.contacts {
	background-color: #f3af42;
	height: 380px;
}

.contactinfo {
	float: left;
	text-align: left;
	position: relative;
	width: 40%;
}

.h2cont {
	padding: 32px 0 49px 60px;
}

.contli {
	padding: 15px 0;
}

.imgcont1 {
	width: 17px;
	object-fit: contain;
	display: inline-block;
}

.imgcont2 {
	width: 19px;
	object-fit: contain;
	display: inline-block;
}

.imgcont3 {
	width: 21px;
	object-fit: contain;
	display: inline-block;
}

.conttxt {
	font-family: OpenSans;
	font-size: 14px;
	color: #4a1c00;
	position: absolute;
	left: 60px;
	line-height: 20px;
	display: inline-block;
	vertical-align: middle;
}

/* responsive */
@media screen and (max-width: 768px) {
.menu {
	display: none;
}
.menu-btn {
 		float: right;
 		margin: 0 20px 0 0;
 		display: block;
 		background-image: url(../img/menu-ico.svg);
 		background-size: contain;
 		background-repeat: no-repeat;
 		background-color: transparent;
 		border: 0;
 		width: 50px;
 		height: 50px;
 	}
 	.menu-points {
 		background: white;
 		padding: 10px;
 	}
 	.menu-points li {
 		display: block; 
 	}

 	#menu-checkbox:checked ~ menu {
 		display: block;
 	}

 	#menu-checkbox:checked ~ .menu-btn {
 		background-image: url(../img/menu-ico-ch.svg);
 	}

 	#menu-checkbox:checked ~ .menu {
 		display: block;
 		position: absolute;
 		left: 0;
 		right: 0;
 		top: 100%;
 	}

 	.wmimg {
 		width: 50%;
 	}
 }